@font-face {
  font-family: 'Montserrat-black'; /*Can be any text*/
  src: local('Montserrat'),
    url('./components/fonts/static/Montserrat-Black.ttf') format('truetype');
}

#logo {
  font-size: 30px;
}

* {
  font-family: 'Montserrat-black';
  background-color: #20364b;
  color: azure;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
